// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...






// PAGE-SCREENSHOT2.HTML
// Rules for input and button and such in the login div

.login{
    &__form{
    //INPUT in the form
    // Rules for input (email + password)
    &--input{
        padding: 27px 12px 15px;
            border: 1px solid $secondary-color;
            border-style: none none solid none;
            background-color: rgba(0, 0, 0, 0.09);
            text-align: left;
            height: auto;
            font-weight: 600;
            font-size: 0.938rem;
            position: relative;
            outline: none;
            // Background-color changes when hovered
            &:hover{
                background-color: #dadada;
            }
    }
    }

    // BUTTONS in the login
    // Buttons "logg på" og "opprette ny konto"

    &__button{
        min-width: 150px;
        margin: 32px 0px 0px;
        padding: 16px;
        font-size: 1.063rem;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: 0.25px;
        border-radius: 6px;
        box-shadow: none;
        text-transform: none;
        background-color: $primary-color;
        color: white;
        border: none;
        align-items: center;
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 48, 102, 0.808);
        }   
    }

// Button for new user
    &__newuser{
    color: $primary-color;
            background-color: white;
            margin: 16px 0px 0px;
            &:hover{
                background-color: rgb(243, 243, 243);
            }
        }
}