.body--demo {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}

.header__nav {
  height: 50px;
  display: flex;
  width: calc(65% + 20px);
  /*had to do calculation below to make sure items aligned correctly due to logo-image having some white space around it*/
  margin-left: calc(17.5% - 10px);
  justify-content: space-between;
}
.header__nav-logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  height: 100%;
}
.header__nav-logo-link {
  box-sizing: border-box;
  color: #464646;
  height: 100%;
  border-bottom: solid transparent 2px;
}
.header__nav-logo-link:hover {
  border-bottom: solid #0063fb 2px;
}
.header__nav-logo-img {
  height: 100%;
}
.header__nav-list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.header__nav-item {
  box-sizing: border-box;
  padding: 0 10px;
  display: inline-flex;
  position: relative;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.header__nav-item:hover {
  border-bottom: 2px solid #0063fb;
}
.header__nav-item-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #464646;
  font-size: 12px;
  font-weight: bold;
  gap: 5px;
}
.header__nav-item-icon-svg {
  height: 24px;
  width: 24px;
}
.header__nav-item-icon-svg--smaller {
  width: 16px;
  height: 16px;
  fill: none;
}
.header__nav-item-icon-path {
  height: 24px;
  width: 24px;
}
.header__nav-item-icon-path--stroke {
  stroke: currentColor;
  stroke: 1.5;
}
.header__nav-item-icon-path--message {
  fill-rule: evenodd;
  fill: currentColor;
}
.header__nav-item-icon-path--circle-user {
  fill: currentColor;
  fill-rule: evenodd;
}
.header__nav-item-notification {
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: #d91f0a;
  left: 24px;
  top: 9px;
  border: solid #FFFFFF 2px;
  border-radius: 50%;
}
.header__nav-item-notification--message {
  left: 27.5px;
}

.login__card {
  width: 450px;
  height: 612px;
  background-color: #FFFFFF;
  text-align: center;
  justify-content: center;
  border-radius: 9px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.14);
}
.login__form {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 386px;
  padding: 0 2rem 2.5rem;
  height: auto;
}
.login__form-paragraph {
  color: rgba(0, 0, 0, 0.54);
  margin: 0px;
  font-size: 0.8142857143rem;
  margin-top: 3px;
  margin-bottom: 12px;
  text-align: left;
  font-weight: 400;
  line-height: 1.66;
}
.login__form-input {
  padding: 27px 12px 15px;
  border: 1px solid #6c757d;
  border-style: none none solid none;
  background-color: rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  text-align: left;
  height: auto;
  font-weight: 600;
  font-size: 0.938rem;
  position: relative;
  outline: none;
  border-radius: 3px 3px 0px 0px;
  height: 60.4px;
}
.login__form-input:hover {
  background-color: #CCCCCC;
}
.login__form-input:focus {
  background-color: #CCCCCC;
  border-bottom: solid #1d72db 2px;
}
.login__form-input--password:hover ~ .login__password-eye {
  background-color: #e4e4e4;
}
.login__form-input--password:focus ~ .login__password-eye {
  background-color: #e4e4e4;
}
.login__link {
  display: flex;
  font-size: 0.875rem;
  max-width: 450px;
  text-align: center;
  padding: 32px 20px 0px;
  margin: 0px;
  gap: 16px;
  text-decoration: none;
}
.login__link-click {
  color: grey;
}
.login__button {
  min-width: 150px;
  margin: 32px 0px 0px;
  padding: 16px;
  font-size: 1.063rem;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.25px;
  border-radius: 6px;
  box-shadow: none;
  text-transform: none;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  position: relative;
  /*this ::after was not easy to figure out set up. Tried doing it by changing the 
  background-color of the button first, but it didnt look correct*/
}
.login__button::after {
  content: "";
  border-radius: 6px;
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  opacity: 0.4;
  transition: 0.4s;
}
.login__button:hover:active::after {
  width: 100%;
}
.login__button--existing {
  color: white;
  background-color: #1d72db;
}
.login__button--existing:hover {
  background-color: #004ABC;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.24);
}
.login__button--existing::after {
  background-color: #ADADAD;
}
.login__button--new {
  color: #1d72db;
  background-color: #FFFFFF;
  margin: 16px 0px 0px;
}
.login__button--new:hover {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.24);
  background-color: #F6F8FB;
}
.login__button--new::after {
  background-color: #1d72db;
}
.login__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  padding: 0px 32px;
}
.login__header-finnlogo {
  width: 36px;
  height: 18px;
}
.login__header-schibstedlogo {
  height: 23px;
}
.login__title {
  margin-bottom: 2rem;
  text-align: left;
  font-size: 1.5rem;
  margin: 0px 0px 16px;
  font-weight: 700;
  color: black;
}
.login__password-eye {
  position: absolute;
  background-image: url(../../img/eye-icon.png);
  height: 20px;
  width: 27px;
  right: 40px;
  top: 169px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-blend-mode: multiply;
}
.login__forgotten {
  text-align: left;
  text-decoration: underline;
  line-height: 1.1;
  cursor: pointer;
  font-size: 0.95rem;
  margin: 12px 0px 0px;
}
.login__remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  text-align: left;
  margin: 16px 0px 0px;
}
.login__remember-text {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.43;
  font-size: 0.95rem;
  color: #111;
}
.login__remember-block {
  display: inline-flex;
  align-items: center;
}
.login__remember-checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: 1px solid grey;
  cursor: pointer;
}
.login__remember-info {
  max-width: 24px;
  max-height: 24px;
  padding: 12px;
  cursor: pointer;
}

.search__button-text {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.search__label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.search__input-container {
  max-width: 1100px;
  position: relative;
  border: solid #adadad 1px;
  height: 30px;
  padding: 5px;
  flex: 1 0 85%;
  justify-content: space-between;
  display: flex;
  border-radius: 3px;
}
.search__input {
  border: none;
  width: 90%;
  font-size: 18px;
  background-color: transparent;
}
.search__input::placeholder {
  font-size: 16px;
  color: #c3ccd9;
}
.search__input:focus {
  outline: none;
}
.search__button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.search__button-icon {
  height: 24px;
  width: 24px;
}
.search__button-icon-svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #171717;
}

.card {
  border-radius: 11px;
  flex: 1 0 33%;
  position: relative;
}
.card:hover {
  background-color: #f1f9ff;
}
.card__a-href {
  display: block;
  padding: 10px;
  color: #464646;
  text-decoration: none;
}
.card__wrapper {
  justify-content: space-evenly;
  margin: 20px 0;
  width: 100%;
  display: flex;
}
.card__wrapper--demo {
  width: 65%;
  max-width: 1100px;
}
.card__img-text {
  /*border: solid #C3CCD9 1px;*/
  padding: 0;
  margin: 0;
  position: relative;
}
.card__favorite-button {
  position: absolute;
  right: 17px;
  top: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  z-index: 2;
}
.card__favorite-button::after {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  content: "";
  display: none;
  height: 100%;
  width: 100%;
}
.card__favorite-button:hover::after {
  background-color: #06befb;
  /*Opacity to make sure it matches*/
  opacity: 0.15;
  display: block;
}
.card__favorite-button:hover > .card__heart-svg {
  fill-opacity: 0.8;
}
.card__heart-svg {
  height: 24px;
  width: 24px;
  fill: #171717;
  fill-opacity: 0.6;
}
.card__heart-path {
  clip-rule: evenodd;
  stroke: #fff;
  stroke-width: 1.5;
}
.card__price-container {
  position: absolute;
  box-sizing: border-box;
  height: 40px;
  bottom: 1px;
  left: 1.5px;
  width: calc(100% - 3px);
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.924894958) 0%, rgba(0, 0, 0, 0.92) 12%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0px 0px 8px 8px;
  font-weight: bold;
}
.card__price {
  position: absolute;
  bottom: 10px;
  left: 7px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.card__img {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  border: solid #c3ccd9 2px;
  box-shadow: 0px 0px 30px black inset;
  display: block;
}
.card__location-text {
  color: #767676;
  font-size: 12px;
  line-height: 16px;
}
.card__title {
  display: inline-block;
  margin: 10px 0px 20px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}/*# sourceMappingURL=common.css.map */