/*unable to use the font family from the webpage*/
html {
  height: 100%;
}

.body {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 0.938rem;
  line-height: 1.3;
  letter-spacing: 0.25px;
  color: rgb(96, 96, 96);
  margin: 0;
}
.body--grey {
  background-color: #F6F8FB;
}
.body--white {
  background-color: #FFFFFF;
}

.main {
  display: flex;
  position: relative;
  min-height: 100%;
}
.main--center {
  align-items: center;
  justify-content: center;
}
.main--start {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 1.5rem;
  margin: 0 auto;
  width: 65%;
}

.header {
  display: flex;
  border: none;
  border-bottom: solid rgb(175, 175, 175) 1px;
  height: 50px;
}
.header__nav {
  display: flex;
  width: calc(65% + 20px);
  /*had to do calculation below to make sure items aligned correctly due to logo-image having some white space around it*/
  margin-left: calc(17.5% - 10px);
  justify-content: space-between;
}
.header__nav-logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  height: 100%;
}
.header__nav-logo-link {
  box-sizing: border-box;
  color: #464646;
  height: 100%;
  border-bottom: solid transparent 2px;
}
.header__nav-logo-link:hover {
  border-bottom: solid #0063fb 2px;
}
.header__nav-logo-img {
  height: 100%;
}
.header__nav-list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.header__nav-item {
  box-sizing: border-box;
  padding: 0 10px;
  display: inline-flex;
  position: relative;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.header__nav-item:hover {
  border-bottom: 2px solid #0063fb;
}
.header__nav-item-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #464646;
  font-size: 12px;
  font-weight: bold;
  gap: 5px;
}
.header__nav-item-icon-svg {
  height: 24px;
  width: 24px;
}
.header__nav-item-icon-svg--smaller {
  width: 16px;
  height: 16px;
  fill: none;
}
.header__nav-item-icon-path {
  height: 24px;
  width: 24px;
}
.header__nav-item-icon-path--stroke {
  stroke: currentColor;
  stroke: 1.5;
}
.header__nav-item-icon-path--message {
  fill-rule: evenodd;
  fill: currentColor;
}
.header__nav-item-icon-path--circle-user {
  fill: currentColor;
  fill-rule: evenodd;
}
.header__nav-item-notification {
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: #d91f0a;
  left: 24px;
  top: 9px;
  border: solid #FFFFFF 2px;
  border-radius: 50%;
}
.header__nav-item-notification--message {
  left: 27.5px;
}

.search__wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}
.search__input-container {
  position: relative;
  border: solid #adadad 1px;
  height: 30px;
  padding: 5px;
  flex: 1 0 85%;
  justify-content: space-between;
  display: flex;
  border-radius: 3px;
}
.search__label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.search__input {
  border: none;
  width: 90%;
  font-size: 18px;
  background-color: transparent;
}
.search__input::placeholder {
  font-size: 16px;
  color: #c3ccd9;
}
.search__input:focus {
  outline: none;
}
.search__button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.search__button-icon-svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.search__button-text {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.search__button-icon {
  height: 24px;
  width: 24px;
}
.search__button-icon-svg {
  fill: #171717;
}
.search__map-button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 10px;
  background-color: transparent;
}
.search__map-button-text {
  font-weight: 600;
  color: #464646;
  font-size: 17px;
}
.search__map-button-text:hover {
  text-decoration: underline;
}
.search__map-button-svg {
  fill: #adadad;
  height: 24px;
  width: 24px;
}
.search__map-button-path {
  fill-rule: evenodd;
}

.categories__nav {
  width: 100%;
}
.categories__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.categories__item {
  display: inline-block;
  flex: 1 1 16.6666666667%;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
}
.categories__item:hover {
  opacity: 0.5;
}
.categories__item:hover .categories__link-icon-path {
  stroke: #272e3f;
}
.categories__item:hover .categories__link-icon-path--with-fill {
  fill: #272e3f;
}
.categories__item-icon--wrist {
  fill: #101F41;
}
.categories__item-icon--right-hand {
  fill: #3960BF;
}
.categories__item-icon--left-hand {
  fill: #101F41;
}
.categories__link {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  padding: 16px 4px 0px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #464646;
  font-size: 14px;
  text-decoration: none;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.categories__link-svg {
  padding: 0;
  width: 42px;
  height: 28px;
  fill: none;
}
.categories__link-svg-nettbil {
  width: 48px;
  height: 28px;
}
.categories__link-path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #06befb;
  stroke-width: 2;
  width: 42px;
  height: 28px;
}
.categories__link-path--with-fill {
  stroke-width: 0;
  fill: #06befb;
}
.categories__link-path-nettbil {
  fill: #ff8752;
}
.categories__link-text {
  font-size: 12px;
  color: #464646;
  margin: 8px 0px 0px;
}
.categories__link-text-span {
  padding: 0;
  display: inline-flex;
  justify-content: center;
  line-height: 12px;
  font-size: 15px;
  font-weight: bold;
  color: #570e2d;
}
.categories__link-text-span--less-margin {
  margin-left: -1px;
}
.categories__link-text--word-break {
  width: 80%;
}
.categories__link-icon-text {
  flex-direction: column;
  display: inline-flex;
}
.categories__link-external-svg {
  top: 0;
  right: 0;
  height: 16px;
  width: 16px;
  position: absolute;
}
.categories__link-external-path {
  fill: #cccccc;
}

.headline__wrapper {
  margin-top: 20px;
  display: flex;
  align-items: end;
  gap: 10px;
}
.headline__link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  margin-bottom: 5px;
}
.headline__h1 {
  margin: 0;
  font-size: 22px;
}

.card {
  border-radius: 11px;
  flex: 1 0 33%;
  position: relative;
}
.card:hover {
  background-color: #f1f9ff;
}
.card__a-href {
  display: block;
  padding: 10px;
  color: #464646;
  text-decoration: none;
}
.card__wrapper {
  justify-content: space-evenly;
  margin: 20px 0;
  width: 100%;
  display: flex;
}
.card__img-text {
  /*border: solid #C3CCD9 1px;*/
  padding: 0;
  margin: 0;
  position: relative;
}
.card__favorite-button {
  position: absolute;
  right: 17px;
  top: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  z-index: 2;
}
.card__favorite-button::after {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  content: "";
  display: none;
  height: 100%;
  width: 100%;
}
.card__favorite-button:hover::after {
  background-color: #06befb;
  /*Opacity to make sure it matches*/
  opacity: 0.15;
  display: block;
}
.card__favorite-button:hover > .card__heart-svg {
  fill-opacity: 0.8;
}
.card__heart-svg {
  height: 24px;
  width: 24px;
  fill: #171717;
  fill-opacity: 0.6;
}
.card__heart-path {
  clip-rule: evenodd;
  stroke: #fff;
  stroke-width: 1.5;
}
.card__price-container {
  position: absolute;
  box-sizing: border-box;
  height: 40px;
  bottom: 1px;
  left: 1.5px;
  width: calc(100% - 3px);
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.924894958) 0%, rgba(0, 0, 0, 0.92) 12%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0px 0px 8px 8px;
  font-weight: bold;
}
.card__price {
  position: absolute;
  bottom: 10px;
  left: 7px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.card__img {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  border: solid #c3ccd9 2px;
  box-shadow: 0px 0px 30px black inset;
  display: block;
}
.card__location-text {
  color: #767676;
  font-size: 12px;
  line-height: 16px;
}
.card__title {
  display: inline-block;
  margin: 10px 0px 20px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}/*# sourceMappingURL=style.css.map */